*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    .container{
        position: relative;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .app-name{
            user-select: none;
         font-size: clamp(40px,10vw,100px);
         font-weight: 700;
         color: rgb(104, 98, 93);
         text-shadow: 2px 1px 3px rgb(104, 93, 93);
        }
        #records{
            position: absolute;
            left: 3vw;
            top: 1vh;
            user-select: none;
                cursor: pointer;
                margin: 2vmax 1vmax;
                padding: 3px 8px;
                border-radius: 3px;
                background-color: rgb(255, 115, 1);
                color: rgb(241, 230, 221);
                font-size: clamp(20px,5vw,30px);
                border: none;
                box-shadow: 1px 1px 2px rgb(255, 115, 1);
                transition: 0.3s;
                &:hover{
                    filter: brightness(125%) saturate(125%);
                }
        }
        #counter{
                display: none;
                position: absolute;
                right: 3vw;
                top: 1vh;
                user-select: none;
                color: rgb(255, 115, 1);
                font-size: min(6vw,50px);
                text-decoration: underline;
        }
        .records-table{
            display: none;
            border-collapse: collapse;
            border: 1px solid rgb(104, 98, 93);
            margin: 15px;
            th{
                padding: 3px 6px;
                font-size: clamp(18px,2vw,26px);
                background-color: rgb(255, 115, 1);
                color: white;
                font-weight: 600;
                border: 1px solid rgb(104, 98, 93);
                text-align: center;
            }
            td{
                padding: 3px 6px;
                font-size: clamp(16px,1.5vw,22px);
                font-weight: 500;
                color: rgb(104, 98, 93);
                border: 1px solid rgb(104, 98, 93);
                text-align: center;
                background-color: white;
            }
        }
        .info{
            background-color: white;
            box-shadow: 2px 1px 3px 2px rgb(255, 115, 1);
            width: clamp(260px,35%,550px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            animation: fadeIn 1.5s forwards;
            .info-title,.result-title{
                user-select: none;
                font-size: clamp(25px,5vw,40px);
                font-weight: 600;
                color: rgb(104, 98, 93);
                text-shadow: 2px 1px 2px rgb(104, 98, 93);
            }
            .info-article{
                font-size: clamp(16px,1.5vw,26px);
                color: rgb(104, 98, 93);
                text-align: center;
                margin: 4px;
            }
            .result-table{
                border-collapse: collapse;
                border: 1px solid rgb(104, 98, 93);
                margin: 15px;
                .good{
                    color: rgb(6, 223, 6);
                }
                .bad{
                    color: rgb(248, 164, 7);
                }
                .dangerous{
                    color: rgb(255, 1, 1);
                }
                th{
                    padding: 3px 6px;
                    font-size: clamp(18px,2vw,28px);
                    background-color: rgb(255, 115, 1);
                    color: white;
                    font-weight: 600;
                    border: 1px solid rgb(104, 98, 93);
                    text-align: center;
                }
                td{
                    padding: 3px 6px;
                    font-size: clamp(16px,1.5vw,24px);
                    font-weight: 500;
                    color: rgb(104, 98, 93);
                    border: 1px solid rgb(104, 98, 93);
                    text-align: center;
                }
            }
        }
        .questions{
            display: none;
            background-color: white;
            box-shadow: 2px 1px 3px 2px rgb(255, 115, 1);
            width: clamp(260px,35%,550px);
            min-width: fit-content;
            height: 500px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            animation: fadeIn 1.5s forwards;
            .question-title{
                white-space: nowrap;
                user-select: none;
                font-size: clamp(20px,5vw,40px);
                font-weight: 600;
                color: rgb(104, 98, 93);
                text-shadow: 2px 1px 2px rgb(104, 98, 93);
                margin: 5px;
            }
            .field{
                margin: 5px;
                padding: 5px;
                font-size: clamp(20px,5vw,35px);
                color: rgb(104, 98, 93);
                outline: none;
                border: 3px solid rgb(104, 98, 93);
                border-radius: 5px;
                &::placeholder{
                    color: rgb(104, 98, 93);
                }
                &:focus{
                    border: 3px solid rgb(255, 115, 1);
                }
            }
            label{
                display: flex;
                align-items: center;
                white-space: nowrap;
                user-select: none;
                font-size: clamp(20px,5vw,35px);
                font-weight: 600;
                color: rgb(104, 98, 93);
                text-shadow: 2px 1px 2px rgb(104, 98, 93);
                margin: 5px;
                [type=checkbox]{
                    accent-color: rgb(255,115,1);
                    width: 1em;
                    height: 1em;
                }
            }
           
            .next,.prev,#finished{
                user-select: none;
                cursor: pointer;
                margin: 2vmax 1vmax;
                padding: 3px 8px;
                border-radius: 3px;
                background-color: rgb(255, 115, 1);
                color: rgb(241, 230, 221);
                font-size: clamp(20px,5vw,35px);
                border: none;
                box-shadow: 1px 1px 2px rgb(255, 115, 1);
                transition: 0.3s;
                &:hover{
                    filter: brightness(125%) saturate(125%);
                }
            }
        }
        .final-result{
            display: none;
            background-color: white;
            box-shadow: 2px 1px 3px 2px rgb(255, 115, 1);
            width: clamp(260px,35%,550px);
            min-width: fit-content;
            height: 500px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            animation: fadeIn 1.5s forwards;
            #result-score,#result-description{
                white-space: nowrap;
                user-select: none;
                font-size: 40px;
                font-weight: 600;
                color: rgb(104, 98, 93);
                text-shadow: 2px 1px 2px rgb(104, 98, 93);
                margin: 5px;
            }
            #result-description{
                white-space: nowrap;
                font-size: 35px;
            }
            #back-to-homepage{
                user-select: none;
                cursor: pointer;
                margin: 2vmax 1vmax;
                padding: 3px 8px;
                border-radius: 3px;
                background-color: rgb(255, 115, 1);
                color: rgb(241, 230, 221);
                font-size: clamp(20px,5vw,35px);
                border: none;
                box-shadow: 1px 1px 2px rgb(255, 115, 1);
                transition: 0.3s;
                &:hover{
                    filter: brightness(125%) saturate(125%);
                }
            }
        }
        .buttons{
             #homepage,#cancel{
                display: none;
             }
            .button,#cancel,#homepage{
                user-select: none;
                cursor: pointer;
                margin: 2vmax 1vmax;
                padding: 3px 8px;
                border-radius: 3px;
                background-color: rgb(255, 115, 1);
                color: rgb(241, 230, 221);
                font-size: clamp(20px,5vw,35px);
                border: none;
                box-shadow: 1px 1px 2px rgb(255, 115, 1);
                transition: 0.3s;
                &:hover{
                    filter: brightness(125%) saturate(125%);
                }
            }
        }
    }
}
@media screen and (width <=1000px){
    body{
        .container{
            #records{
              position: static;
            }
           
           
        }
    }
}
@media screen and (width <=400px){
    body{
        .container{
            #counter{
                top: 15vh;
            }
           
            #counter{
                left: 50vw;
                right: 0;
                font-size: 12vw;
            }
        }
    }
}




@keyframes fadeIn {
    from{opacity: 0.3;}
    to{opacity: 1;}
}